app = "todo-app-backend-khanzadi"
primary_region = "ams"  # Choose a region close to you

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1

[env]
  PORT = "8000"
  # Add your environment variables here:
  # DATABASE_URL = "your_database_url"
  # SECRET_KEY = "your_secret_key"